[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dlsem"]
	path = dlsem
	url = https://github.com/cran/dlsem
[submodule "gbmt"]
	path = gbmt
	url = https://github.com/cran/gbmt
